<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<div class="footer" th:fragment="footer">
    <section>
        <h1>펫샵</h1>
        <p>Copyright 이쿠조</p>
        <ul style="display: flex; ">
            <li><div >
                <a href="https://www.instagram.com/b2_ang/?hl=ko"><img style="width: 50px; height: 50px; margin-left: 25px" src="https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A"></a>
                <a href="https://www.instagram.com/b2_ang/?hl=ko">Instagram</a>
            </div>
            </li>
            <li><div >
                <a href="https://www.youtube.com/channel/UCI2T1_bAtgnKKzfhw3Qib9w"><img style="width: 50px; height: 50px; margin-left: 18px" src="../img/youtube.png"></a>
                <a href="https://www.youtube.com/channel/UCI2T1_bAtgnKKzfhw3Qib9w">Youtube</a>
            </div>
            </li>
            <li><div >
                <a href="https://www.facebook.com/LJYTOON/?locale=ko_KR"><img style="width: 50px; height: 50px; margin-left: 20px" src="../img/facebook.png"></a>
                <a href="https://www.facebook.com/LJYTOON/?locale=ko_KR">Facebook</a>
            </div>
            </li>
        </ul>
    </section>
    <section>
        <h1>Customer Center</h1>
        <p>031-xxxx-xxxx</p>
        <p>(평일) 10:00~18:00</p>
        <p>(점심시간) 13:00~14:00</p>
    </section>
    <section>
        <h1>Company Info</h1>
        <p>상호명 : 펫토피아</p>
        <p>만든이 : 이쿠조</p>
        <p>주소 : 경기도 안산시 그린컴퓨터학원</p>
        <p>사업자 등록번호 : xxx-xx-xxxxx</p>
        <p>통신판매신고번호 : 제2020-경기안산-0110호</p>
        <p>이메일 : 펫토피아@naver.com</p>
        <p>Designed by 이쿠조</p>
    </section>
    <section>
        <h1>Bank account</h1>
        <p>기업은행</p>
        <p>777777-77-77-77777</p>
        <p>(펫토피아)</p>
    </section>
</div>
</html>